.container > hr {
  margin-top: 0px;
}

.question [type=submit] {
  margin-top: 0.7em;
}

form.create-team {
  /*overflow: hidden;
  background-color: #eee;*/
}

form.create-team > fieldset {
}

.carousel .item {
}

.notification {
  position: fixed;
  border-radius: 12px;
  z-index: 999;
  padding: 0.6em 0.3em 0.6em 0.5em;
  border-width: 3px;
  border-style: solid;
  font-weight: bold;
}

.notification.success {
  background-color: #a8d081;
  border-color: #647c4d;
}

.notification.failure {
  border-color: #7c4d4d;
  background-color: #d08181;
}

.modal {
  display: none;
}

#changeTeamPrompt .teamName {
  font-weight: bold;
}
